#back_video{
width:100%;
height:100%;
background-color:black;
position:fixed;
left: 0px;
top:0px;
opacity:0.8;
z-index:15;

}

#video_cadr{
	left:calc(50% - 373px);
	top: 50px;
	position: fixed;
	background-color: #FFF;
	padding: 2px;
	border: 1px solid #CCC;
	border-radius: 4px;
	z-index: 25;
	box-shadow: 0px 0px 12px 1px #000;
	width:740px;
}
#close_video{
position: absolute;
cursor: pointer;
background-size: 100% 100%;
right: 8px;
width: 13px;
height: 11px;
top: -21px;
z-index: 500;
background-color: #FFF;
padding: 6px;
border-radius: 2px 2px 0px 0px;
text-align: center;
}